# Copiez ce fichier en .env et remplissez les valeurs

SECRET_KEY=votre-cle-secrete-tres-longue-et-aleatoire

# PostgreSQL
DATABASE_URL=postgresql://postgres:motdepasse@localhost/vite_et_gourmand

# MongoDB
MONGO_URI=mongodb://localhost:27017/

# Compte administrateur initial
ADMIN_EMAIL=jose@viteetsourmand.fr
ADMIN_PASSWORD=Admin@VG2025!
